@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #eee;
  color: #333;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 :root {
  --primary-color: #043a5a;
  --dark-color: #333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #c0bfbd;
  --xxx-color:#b5b8b7;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  color:var(--light-color);
  background-color: var(--primary-color);
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
 }
 .navbar i, h1 {
  padding: 0 1rem
}
.navbar li{
  list-style: none;
  padding: 0 1rem;
  transition: all 0.3s ease 0s;
}
a{
  text-decoration: none;
  color:var(--light-color)
}
li i:hover ,a:hover{
  opacity: 0.5;  
  cursor: pointer;
}
.users-data{
  width: 50%;
  margin: 0 auto;
}

/* Forms */
.form-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background: #231e39;
  padding: 20px 40px;
}

.form-container .text-primary {
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  color: #fff;
}

.form-container .lead,
.form-container .my-1 {
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.form-container .lead {
  font-size: 16px;
}

.form-container .form {
  padding: 20px 0;
}

.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="date"],
.form select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.form input[type="submit"],
button {
  font: inherit;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: #333;
}

.users-block{
  padding: 20px;
}

.m-1 {
  margin: 0.5rem;
}

.user-block{
  margin: 20px;
}
.user-block p{
  padding: 5px;
}

.backtoprofile{
  margin: 10px;
}

.report-block div{
  margin: 15px;
}